---
import Layout from "@/layouts/Layout.astro";
import LayoutBlog from "@/layouts/LayoutBlog.astro";
import { getCollection } from "astro:content";

const entries = await getCollection('blog')
---
<LayoutBlog>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header>
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Este es el blog</h2>

        <p class="mt-4 max-w-md text-gray-500">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque praesentium cumque iure
          dicta incidunt est ipsam, officia dolor fugit natus?
        </p>
      </header>

      <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {
          entries.map((entry)=>(
            <li>
              <article class="overflow-hidden rounded-lg border border-gray-100 bg-white shadow-sm">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                  class="h-56 w-full object-cover"
                />

                <div class="p-4 sm:p-6">
                  <a href="#">
                    <h3 class="text-lg font-medium text-gray-900">
                      {entry.data.title}
                    </h3>
                  </a>

                  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                    Fecha publicación: {entry.data.pubDate}
                  </p>
                  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                    AUtor: {entry.data.autor}
                  </p>

                  <a href="#" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
                    Find out more

                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                      &rarr;
                    </span>
                  </a>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</LayoutBlog>