<script>
  export let variant = "primary"; // primary, secondary, etc.
  export let size = "md"; // sm, md, lg
</script>

<button
  class={`px-4 py-2 rounded font-medium
          ${variant === "primary" ? "bg-primary text-white" : ""}
          ${size === "sm" ? "text-sm" : size === "lg" ? "text-lg" : "text-md"}`}
>
  <slot />
</button>
