<div
  style="display: flex; align-items: center; font-family: Arial, sans-serif; gap: 8px;"
>
  <a
    href="https://www.insightdevs.com.ar"
    style="color: #007bff; text-decoration: none;"
  >
    <img
      src="https://www.insightdevs.com.ar/logos/Insight_hor.png"
      alt="Insight Devs"
      style="height: 30px;"
    />
  </a>
</div>
