---
let {} = Astro.props;
---

<section
  class="w-48 h-48 relative flex flex-col justify-center items-center text-center mb-4 p-4 bg-primary-lightershadow-glow rounded-lg"
  style="background-image: url('/images/hero_inicio.jpeg'); background-size: cover ; background-position: center;"
>
  {/* Capa de atenuación */}
  <div class="absolute inset-0 bg-primary-lighter opacity-50 rounded-lg">
    <div class="relative z-10">
      <slot />

      {/* Botón opcional con enlace */}
      <a
        href="#"
        class="mt-6 inline-block bg-primary text-white py-3 px-6 rounded hover:bg-primary-dark"
      >
        Acción
      </a>
    </div>
  </div>
</section>
