---
import Layout from "@/layouts/Layout2.astro";
import UiBox from "@/ui/Boxs/Box.astro";
import UiImgBox from "@/ui/Boxs/Img.Box.astro";

const colors = [
  "transparent",
  "primary",
  "secondary",
  "tertiary",
  "complementary",
  "black",
  "white",
];
const color = colors[1];
---

<Layout title="Components">
  <UiBox colorScheme={color}> <p>Example</p><p>Example</p></UiBox>
  <UiBox colorScheme={color} darkMode
    ><p>Example</p><p>Example</p><p>Example</p></UiBox
  >
  <UiImgBox overlay backgroundImage="/images/hero_inicio.jpeg"
    ><p>Example</p><p>Example</p></UiImgBox
  >
  <UiImgBox backgroundImage="/images/hero_inicio.jpeg" overlay darkMode
    ><p>Example</p><p>Example</p><p>Example</p><p>Example</p></UiImgBox
  >
</Layout>
