---
import Layout from "@/layouts/Layout.astro";
import Team from "@/components/Team.astro";
import { config } from "config";
---

<Layout title="Nosotros - Ideas Propias">
  <!-- Hero -->
  <section
    class="relative h-144 flex flex-col justify-center items-center text-center mb-4 bg-primary-lighter shadow-glow shadow-gray-300"
    style={`background-image: url('${config.images.about[0]}'); background-size: cover ; background-position: top;`}
  >
    {/* Capa de atenuación */}
    <div class={"absolute inset-0 bg-primary-lighter opacity-40"}></div>

    <div class="relative w-full z-10">
      {/* Esto asegura que el contenido quede encima de la capa */}

      <p class="text-7xl w-3/4 mx-auto font-title text-primary">
        Nuestra historia
      </p>

      {/* Subtítulo opcional */}
      <!-- <p class="bg-primary p-4 text-3xl font-subtitle font-bold mt-6">
        Ve nuestras opciones
      </p> -->
    </div>
  </section>

  <!-- History -->
  <section class="relative mt-32 bg-gray-300 py-20">
    <div class="absolute inset-0">
      <img
        src={config.images.about[1]}
        alt="Imagen de Ideas Propias"
        class="w-full h-full object-cover opacity-20"
      />
    </div>
    <div class="relative container mx-auto px-8 lg:px-16 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold text-primary-dark mb-6">
        La historia de Ideas Propias
      </h2>
      <p class="text-lg lg:text-xl text-black font-medium leading-relaxed mb-8">
        Ideas Propias nació como respuesta a la necesidad de impulsar el
        espíritu emprendedor en Argentina, un país marcado por entornos
        cambiantes y desafíos constantes.
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div>
          <p class="text-md lg:text-lg text-black leading-relaxed mb-4">
            Fundada hace más de 20 años, nuestra consultora integral de negocios
            se ha dedicado desde el principio a acompañar a empresas,
            empresarios y emprendedores con la ambición y determinación de
            progresar y hacer crecer sus proyectos.
          </p>
          <p class="text-md lg:text-lg text-black leading-relaxed mb-4">
            En un contexto desafiante, nuestra capacidad de adaptación nos
            permitió transformar problemas en oportunidades, convirtiendo el
            éxito alcanzado en una herramienta para compartir conocimientos y
            herramientas con otros visionarios.
          </p>
        </div>
        <div class="text-center">
          <img
            src={config.images.about[2]}
            alt="Historia de Ideas Propias"
            class="rounded-lg shadow-lg mx-auto"
          />
        </div>
      </div>
      <p class="text-lg lg:text-xl text-black font-medium leading-relaxed mt-8">
        Hoy, en <span class="font-bold">Ideas Propias</span>, abrimos nuestras
        puertas para quienes buscan reinventarse y crecer, creando un espacio
        donde las ideas y el aprendizaje constante se transforman en un futuro
        próspero.
      </p>
      <a
        href="#"
        class="inline-block mt-6 px-8 py-3 bg-primary text-black font-semibold rounded-lg shadow hover:bg-primary-dark transition duration-300"
      >
        Únete a nuestra visión
      </a>
    </div>
  </section>

  <!-- Team -->
  <Team title={"Nuestro equipo"} team={config.team} />
</Layout>
