---
import Layout from "@/layouts/Layout2.astro";
import BasicHero from "@/ui/Heros/Hero.astro";
import BasicImgHero from "@/ui/Heros/Img.Hero.astro";

const colors = ["primary", "secondary", "tertiary", "complementary"];
const color = colors[0];
---

<Layout title="Components">
  <h2>Hero</h2>
  <BasicHero
    title="Bienvenidos a nuestra plataforma"
    subtitle="Texto subitulo opcional"
    ctaText="Opcional"
    ctaLink="#"
    colorScheme={color}
  />
  <BasicHero
    title="Bienvenidos a nuestra plataforma"
    subtitle="Texto subitulo opcional"
    ctaText="Opcional"
    ctaLink="#"
    colorScheme={color}
    darkMode
  />
  <BasicImgHero
    title="Bienvenidos a nuestra plataforma"
    subtitle="Texto subitulo opcional"
    ctaText="Opcional"
    ctaLink="#"
    overlay
    backgroundImage="/images/hero_inicio.jpeg"
  />
  <BasicImgHero
    title="Bienvenidos a nuestra plataforma"
    subtitle="Texto subitulo opcional"
    ctaText="Opcional"
    ctaLink="#"
    backgroundImage="/images/hero_inicio.jpeg"
    overlay
    darkMode
  />
</Layout>
