---
import Layout from "@/layouts/Layout.astro";
import TServices from "@/components/Services.astro";
import { config } from "config";
---

<Layout title="Ideas Propias">
  <!-- Hero -->
  <section
    class="relative h-144 flex flex-col justify-center items-center text-center mb-4 bg-primary-lighter shadow-glow shadow-gray-300"
    style={`background-image: url('${config.images.index[0]}'); background-size: cover ; background-position: top;`}
  >
    {/* Capa de atenuación */}
    <div
      class={"absolute inset-0 bg-gradient-to-tl from-primary via-primary-light via-primary-lighter to-primary-lighter opacity-80"}
    >
    </div>

    <div class="relative z-10">
      {/* Esto asegura que el contenido quede encima de la capa */}

      <h2
        class="text-4xl md:text-7xl w-3/4 mx-auto font-title text-primary-dark"
      >
        Bienvenidos a nuestra plataforma
      </h2>

      {/* Subtítulo opcional 
      <p class="text-lg mt-4">Texto subitulo opcional</p>*/}
    </div>
  </section>

  <!-- Texto Intermedio -->
  <div
    class="flex flex-col justify-center items-center mt-32 mb-16 text-center"
  >
    <p class="w-4/5 text-2xl">
      <span class="font-bold">Ideas Propias</span> es consultora integral de negocios
      que brinda asesoramiento a empresas, empresarios y emprendedores con la visión
      y el deseo de impulsar el crecimiento de sus negocios.
    </p>
    <p class="mt-6 w-4/5 italic text-xl">
      Con más de 20 años de trayectoria y exitosas gestiones, ponemos a tu
      disposición todo nuestro conocimiento en diversas áreas del management
      empresarial, ofreciéndote un acompañamiento real y efectivo que impulse el
      éxito de tu negocio.
    </p>
  </div>

  <!-- TODO Video introduciión -->

  <!-- Cards Servicios -->
  <TServices />
</Layout>
