---
import 'src/styles/global.css'
import Card from '@/components/Card.astro';
import Layout from '@/layouts/Layout.astro';

const planX5 = {
	name: 'PlanX5',
	img: '/logo-planx5.png'
}
---

<Layout title="Ideas Propias">
	<div>
		<h1 class="text-center text-5xl text-dark-blue font-title">Ideas Propias</h1>
		<Card project={planX5} />
	</div>
</Layout>
