<header class="sticky top-0 right-0 left-0 bg-[#fff] z-50">
  <nav class='py-6 px-8 flex justify-between items-center md:max-w-[1400px] md:mx-auto mb-3'>
    <a href="/" aria-label="Regresar a la página de inicio">
      <img
        src='/logo.svg'
        alt='Logo de Ideas Propias'
        class="w-auto h-[46px]"
      />
    </a>
    <ul class='flex justify-between items-center gap-6'>
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Nosotros</a></li>
      <li><a href="/services">Servicios</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>
