---
import { getCollection } from "astro:content";
import CardService1 from "./ServicesCard1.astro";
import CardService2 from "./ServicesCard2.astro";
import CardService3 from "./ServicesCard3.astro";

let { title, option = 1 } = Astro.props;
option = option * 1;

/* console.log: Services
[
  {
    id: 'IdentidadEmpresarial.md',
    data: {
      order: 3,
      title: 'Identidad Empresarial',
      person: 'flaviajoubert',
      subtitle: 'Detalles',
      img: '/Icono.svg'
    },
    body: 'Cultura',
    filePath: 'src/content/services/IdentidadEmpresarial.md',
    digest: 'e400a93d1abee11f',
    rendered: { html: '<p>Cultura</p>', metadata: [Object] },
    collection: 'services',
    slug: 'identidadempresarial',
    render: [Function: render]
  },
  ...
]*/

const SERVICES = await getCollection("services");
SERVICES.sort((a, b) => a.data.order - b.data.order);
---

<section class="mt-36">
  <h2
    class="text-center text-4xl font-title tracking-tight text-primary-dark sm:text-5xl"
  >
    {title}
  </h2>

  <div
    class={`mt-12 mx-auto max-w-7xl ${
      option === 1
        ? "grid grid-cols-1 lg:grid-cols-3 gap-y-8 lg:gap-4 justify-items-center"
        : "flex flex-col items-center gap-8"
    } p-4`}
  >
    {
      SERVICES.map((service) => {
        if (option === 1) return <CardService1 data={service} />;
        if (option === 2) return <CardService2 data={service} />;
        return <CardService3 data={service} />;
      })
    }
  </div>
</section>
