---
import { getCollection } from "astro:content";
import CardService from "./ServicesCard.astro";

const { title } = Astro.props;

const SERVICES = await getCollection("services");
// console.log(SERVICES);
SERVICES.sort((a, b) => a.data.order - b.data.order);
---

<section class="mt-36">
  <h2
    class="text-center text-4xl font-title tracking-tight text-primary-dark sm:text-5xl"
  >
    {title}
  </h2>

  <div
    class="grid mt-12 mx-auto max-w-7xl justify-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4"
  >
    {SERVICES.map((service) => <CardService data={service} />)}
  </div>
</section>
