---
import { getCollection } from "astro:content";
import CardTeam from "./TeamCard.astro";

const { title } = Astro.props;

const MYTEAM = await getCollection("team");
// console.log(MYTEAM);
MYTEAM.sort((a, b) => a.data.order - b.data.order);
---

<section class="bg-white">
  <div
    class="mx-auto max-w-screen-xl mt-32 px-4 py-12 sm:px-6 lg:px-8 lg:py-16"
  >
    <h2
      class="text-center text-4xl font-title tracking-tight text-primary-dark sm:text-5xl"
    >
      {title}
    </h2>

    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
      {MYTEAM.map((element) => <CardTeam data={element} />)}
    </div>
  </div>
</section>
