---
import LiteYoutube from "./LiteYoutube.astro";
---

<section class="mt-20 px-2 flex flex-col items-center">
  <h2 class="text-center text-4xl font-title tracking-tight text-primary-dark sm:text-5xl">
    Testimonio PlanX5
  </h2>

  <div class="flex justify-center w-full lg:w-1/2 mt-10">
    <LiteYoutube videoId="XobvRm3Lutc" title="PlanX5" backgroundImage="/logo-planx5.png"/>
  </div>
</section>

