---
import "@fontsource/roboto";
import "@fontsource/francois-one";
import "@fontsource/poiret-one";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Line from "@/ui/Line.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Consultora especializada en ventas" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load/>
    <Line />
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
  <Footer />
</html>

<style is:global>
  html {
    font-family: "Roboto", system-ui, sans-serif;
    scroll-behavior: smooth;
    @apply bg-white text-black;
  }
</style>
